<section id="home-section" class="hero">
  <img src="/images/blob-shape-3.svg" class="svg-blob" alt="">
  <div class="home-slider owl-carousel">
    <div class="slider-item">
      <div class="overlay"></div>
      <div class="container-fluid p-0">
        <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end"
          data-scrollax-parent="true">
          <div class="one-third order-md-last">
            <div class="img" style="background-image:url(/images/anagkazo_night.jpg);">
              <div class="overlay"></div>
            </div>
            <div class="bg-primary">
              <div class="vr"><span class="pl-3 py-4" style="background-image: url(/images/bg_1-1.jpg);">Anagkazo</span>
              </div>
            </div>
          </div>
          <div class="one-forth d-flex align-items-center ftco-animate"
            data-scrollax=" properties: { translateY: '70%' }">
            <div class="text">
              <span class="subheading pl-5">Spend a weekend</span>
              <h1 class="mb-4 mt-3">Explore Your Anagkazo like never before</h1>
              <p>With so many things to see and do, there is no room for boredom</p>

              <p><a href="#check-availability" class="btn btn-primary px-5 py-3 mt-3">Book now <span
                    class="ion-ios-arrow-forward"></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-item">
      <div class="overlay"></div>
      <div class="container-fluid p-0">
        <div class="row d-flex no-gutters slider-text align-items-center justify-content-end"
          data-scrollax-parent="true">
          <div class="one-third order-md-last">
            <div class="img" style="background-image:url(/images/arial.jpg);">
              <div class="overlay"></div>
            </div>
            <div class="vr"><span class="pl-3 py-4" style="background-image: url(/images/arial.jpg);">Anagkazo</span>
            </div>
          </div>
          <div class="one-forth d-flex align-items-center ftco-animate"
            data-scrollax=" properties: { translateY: '70%' }">
            <div class="text">
              <span class="subheading pl-5">Anagkazo at night</span>
              <h1 class="mb-4 mt-3">Never Stop Exploring</span></h1>
              <p>The scenes just get better with the night fall.</p>

              <p><a href="#check-availability" class="btn btn-primary px-5 py-3 mt-3">Book now <span
                    class="ion-ios-arrow-forward"></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt mt-5" id='room-availability'>
  <div class="container">
    <div class="row justify-content-center pb-0 pb-mb-5 pt-5 pt-md-0">
      <div class="col-md-12 heading-section ftco-animate">
        <!-- <span class="subheading">Sexy &amp; Healthy</span> -->
        <h2 class="mb-4">When do you want to book for?</h2>
        <p>Please fill this form out to check room availability in order to book.</p>
      </div>
    </div>
    <div class="row" id="check-availability">
      <div class="col-md-12 mt-4">
        <div class="search-wrap-1 ftco-animate p-4">
          <form method="POST" action="/room-availability" class="search-property-1"
            enctype="application/x-www-form-urlencoded" id="check-availability">
            <div class="row">
              <div class="col-lg align-items-end">
                <div class="form-group">
                  <label for="room_type">Select room type:</label>
                  <div class="form-field">
                    <div class="select-wrap">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select name="room_type" id="" class="form-control">
                        <option value="Good-generals">Good Generals</option>
                        <option value="Hotel-style">Hotel Style</option>
                        <option value="Wise-as-serpents">Wise As Serpents</option>
                        <option value="4-bedroom-apartment">4 Bedroom Apartment</option>
                        <option value="Domitories">Domitories</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg align-items-end">
                <div class="form-group">
                  <label for="checkin_date">Check-in date</label>
                  <div class="form-field">
                    <div class="icon"><span class="ion-ios-calendar"></span></div>
                    <input min={{minDate}} name="checkin_date" placeholder="Check In Date"
                      class="form-control checkin_date" type="date" value={{checkin_date}} required />
                    <!-- <input type="text" class="form-control checkin_date" placeholder="Check In Date"> -->
                  </div>
                </div>
              </div>

              <div class="col-lg align-items-end">
                <div class="form-group">
                  <label for="checkout_date">Check-out date</label>
                  <div class="form-field">
                    <div class="icon"><span class="ion-ios-calendar"></span></div>
                    <input name="checkout_date" min={{minDate}} placeholder="Check Out Date"
                      class="form-control checkout_date" type="date" onfocus="(this.type='date')"
                      value={{checkout_date}} required />
                    <!-- <input type="text" class="form-control checkout_date" placeholder="Check Out Date"> -->
                  </div>
                </div>
              </div>
              <div class="col-lg align-items-end">
                <div class="form-group">
                  <label for='adult_number'>Adults</label>
                  <div class="form-field">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <input name='adult_number' placeholder="Number of Adults" class="form-control adults_number"
                      type="number" min="1" required />
                  </div>
                </div>
                <!-- <div class="form-group">
    		        					<label for="#">Price Limit</label>
    		        					<div class="form-field">
    		          					<div class="select-wrap">
    		                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
    		                      <select name="" id="" class="form-control">
    		                        <option value="">$5,000</option>
    		                        <option value="">$10,000</option>
    		                        <option value="">$50,000</option>
    		                        <option value="">$100,000</option>
    		                        <option value="">$200,000</option>
    		                        <option value="">$300,000</option>
    		                        <option value="">$400,000</option>
    		                        <option value="">$500,000</option>
    		                        <option value="">$600,000</option>
    		                        <option value="">$700,000</option>
    		                        <option value="">$800,000</option>
    		                        <option value="">$900,000</option>
    		                        <option value="">$1,000,000</option>
    		                        <option value="">$2,000,000</option>
    		                      </select>
    		                    </div>
    				              </div>
    			              </div> -->
              </div>
              <div class="col-lg align-self-end">
                <div class="form-group mt-3">
                  <div class="form-field">
                    <input type="submit" value="Search" class="form-control btn btn-primary">
                  </div>
                </div>
              </div>
          </form>
        </div>

        <div id="message-area1" class="" style="display:none;">
          <div href="#" id="success-popup-message">
            <div class="alert alert-success mt-3" role="alert">
              <h4 class="alert-heading" id="message-head"></h4>
              <p>Please go ahead to reserve this space!</p>
              {{!--
              <hr> --}}
              {{!-- <strong i class="mb-0">Click here to reserve</strong> --}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-services-2" id="services-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <!-- <span class="subheading">Sexy &amp; Healthy</span> -->
        <h2 class="mb-4">Our Services</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services text-center d-block">
          <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-gliding"></span>
          </div>
          <div class="media-body">
            <h3 class="heading mb-3">Prayer Gardens</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services text-center d-block">
          <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-world"></span>
          </div>
          <div class="media-body">
            <h3 class="heading mb-3">Golf</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services text-center d-block">
          <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-tour-guide"></span>
          </div>
          <div class="media-body">
            <h3 class="heading mb-3">Museum</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services text-center d-block">
          <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-map-of-roads"></span>
          </div>
          <div class="media-body">
            <h3 class="heading mb-3">Camps</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
  <div class="container">
    <div class="row no-gutters d-flex">
      <div class="col-md-6 col-lg-5 d-flex">
        <div class="img d-flex align-self-stretch align-items-center" style="background-image:url(images/image_1.jpg);">
        </div>
      </div>
      <div class="col-md-6 col-lg-7 px-lg-5 py-md-5 bg-darken">
        <div class="py-md-5">
          <div class="row justify-content-start pb-3">
            <div class="col-md-12 heading-section ftco-animate p-5 p-lg-0">
              <span class="subheading">Get in touch with us</span>
              <h2 class="mb-4">Get Best Travel Deals</h2>
              <p>Are you in a group of more than a 100 people? Contact us for special deals.</p>
              <p>Are you planning a camp with us and would like to organise accommodation for the delegates? Contact us
                for special deals.</p>
              <p>Do you just an escape to spend some time with God by yourself?</p>
              <p><a href="#check-availability" class="btn btn-primary py-3 px-4">Book now!</a> <a href="#"
                  class="btn btn-white py-3 px-4">Contact us</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-intro img" id="hotel-section" style="background-image: url(images/bg_4.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 text-center">
        <h2>Choose at $99 Per Night Only</h2>
        <p>We can manage your dream building A small river named Duden flows by their place</p>
        <p class="mb-0"><a href="#" class="btn btn-white px-4 py-3">Book a room now</a></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">Suggested Hotel</span>
        <h2 class="mb-4">Find Nearest Hotel</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="project">
          <div class="img">
            <div class="vr"><span>Sale</span></div>
            <a href="hotel.html"><img src="/images/hotel-1.jpg" class="img-fluid" alt=""></a>
          </div>
          <div class="text">
            <h4 class="price"><span class="old-price mr-2">$500</span>$400</h4>
            <span>3 nights</span>
            <h3><a href="hotel.html">Luxury Hotel in Greece</a></h3>
            <div class="star d-flex clearfix">
              <div class="mr-auto float-left">
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
              </div>
              <div class="float-right">
                <span class="rate"><a href="#">(120)</a></span>
              </div>
            </div>
          </div>
          <a href="/images/hotel-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="project">
          <div class="img">
            <a href="hotel.html"><img src="/images/hotel-2.jpg" class="img-fluid" alt=""></a>
          </div>
          <div class="text">
            <h4 class="price">$400</h4>
            <span>3 nights</span>
            <h3><a href="hotel.html">Luxury Hotel in Greece</a></h3>
            <div class="star d-flex clearfix">
              <div class="mr-auto float-left">
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
              </div>
              <div class="float-right">
                <span class="rate"><a href="#">(120)</a></span>
              </div>
            </div>
          </div>
          <a href="/images/hotel-2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="project">
          <div class="img">
            <a href="hotel.html"><img src="/images/hotel-3.jpg" class="img-fluid" alt="Colorlib Template"></a>
          </div>
          <div class="text">
            <h4 class="price">$400</h4>
            <span>3 nights</span>
            <h3><a href="hotel.html">Luxury Hotel in Greece</a></h3>
            <div class="star d-flex clearfix">
              <div class="mr-auto float-left">
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
              </div>
              <div class="float-right">
                <span class="rate"><a href="#">(120)</a></span>
              </div>
            </div>
          </div>
          <a href="/images/hotel-3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center pb-5 pt-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">Rooms &amp; Suites</span>
        <h2 class="mb-4">Greece Best Rooms Offer</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 room-wrap">
        <div class="row">
          <div class="col-md-7 d-flex ftco-animate">
            <div class="img align-self-stretch" style="background-image: url(/images/room-1.jpg);"></div>
          </div>
          <div class="col-md-5 ftco-animate">
            <div class="text py-5">
              <h3><a href="hotel-single.html">Classic Balcony Room</a></h3>
              <p class="pos">from <span class="price">$99.00</span>/night</p>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                language ocean. A small river named Duden flows by their place and supplies it with the necessary
                regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
              </p>
              <p><a href="#" class="btn btn-secondary">Details</a> <a href="#" class="btn btn-primary">Book now</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 room-wrap room-wrap-thumb mt-4">
        <div class="row">
          <div class="col-md-3 ftco-animate">
            <a href="#" class="d-flex thumb">
              <div class="img align-self-stretch" style="background-image: url(images/room-1.jpg);"></div>
              <div class="text pl-3 py-3">
                <h3>Classic Balcony Room</h3>
              </div>
            </a>
          </div>
          <div class="col-md-3 ftco-animate">
            <a href="#" class="d-flex thumb">
              <div class="img align-self-stretch" style="background-image: url(images/room-2.jpg);"></div>
              <div class="text pl-3 py-3">
                <h3>Classic Balcony Room</h3>
              </div>
            </a>
          </div>
          <div class="col-md-3 ftco-animate">
            <a href="#" class="d-flex thumb">
              <div class="img align-self-stretch" style="background-image: url(images/room-3.jpg);"></div>
              <div class="text pl-3 py-3">
                <h3>Classic Balcony Room</h3>
              </div>
            </a>
          </div>
          <div class="col-md-3 ftco-animate">
            <a href="#" class="d-flex thumb">
              <div class="img align-self-stretch" style="background-image: url(images/room-4.jpg);"></div>
              <div class="text pl-3 py-3">
                <h3>Classic Balcony Room</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section contact-section ftco-no-pb" style="display: none;" id="contact-section">
  <div class="container">
    <div class="row justify-content-center pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Reservation</span>
        <h2 class="mb-4">Reserve Now</h2>
      </div>
    </div>

    <div class="row block-9">
      <div class="col-md-7 order-md-last d-flex">
        <form action="/room-booking" method="POST" class="bg-light p-4 p-md-5 contact-form">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="first_name">First name:</label>
              <input name="first_name" type="text" class="form-control" id="inputEmail4" autocapitalize="true"
                autocomplete="given-name" placeholder="First name" required />
            </div>
            <div class="form-group col-md-6">
              <label for="last_name">Last name:</label>
              <input name="last_name" autocapitalize="true" autocomplete="family-name" type="text" class="form-control"
                id="inputPassword4" placeholder="Last name" required />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="phone">Phone:</label>
              <input name="phone" type="phone" class="form-control" id="inputEmail4" placeholder="Phone number"
                required />
            </div>
            <div class="form-group col-md-6">
              <label for="last_name">Email:</label>
              <input name="email" type="email" autocomplete="email" class="form-control" id="inputPassword4"
                placeholder="Email" required />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="checkinn_date">Check In:</label>
              <input name="checkinn_date" type="text" disabled readonly class="form-control" id="inputEmail4"
                placeholder="Check In" value={{checkin_date}}>
            </div>
            <div class="form-group col-md-6">
              <label for="checkoutt_date">Check Out</label>
              <input name="checkoutt_date" type="text" disabled readonly class="form-control" id="inputPassword4"
                placeholder="Check Out" value={{checkout_date}}>
            </div>
          </div>
          <div class="form-group">
            <label for="room_typee">Room Type:</label>
            <input name="room_typee" type="text" disabled class="form-control" value={{room_type}} />
          </div>
          <button type="submit" class="btn btn-lng btn-block btn-primary">Reserve Space</button>
          <div id="message-area">
          </div>
        </form>
      </div>

      <div class="ui modal">
        <div class="header">Header</div>
        <div class="content">
          <p></p>
          <p></p>
          <p></p>
        </div>
      </div>

      <div class="col-md-5 d-flex">
        <div class="row d-flex contact-info mb-5">
          <div class="col-md-12 ftco-animate">
            <div class="box p-2 px-3 bg-light d-flex">
              <div class="icon mr-3">
                <span class="icon-map-signs"></span>
              </div>
              <div>
                <h3 class="mb-3">Address</h3>
                <p>198 West 21th Street, Suite 721 New York NY 10016</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 ftco-animate">
            <div class="box p-2 px-3 bg-light d-flex">
              <div class="icon mr-3">
                <span class="icon-phone2"></span>
              </div>
              <div>
                <h3 class="mb-3">Contact Number</h3>
                <p><a href="tel://1234567920">+ 1235 2355 98</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 ftco-animate">
            <div class="box p-2 px-3 bg-light d-flex">
              <div class="icon mr-3">
                <span class="icon-paper-plane"></span>
              </div>
              <div>
                <h3 class="mb-3">Email Address</h3>
                <p><a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 ftco-animate">
            <div class="box p-2 px-3 bg-light d-flex">
              <div class="icon mr-3">
                <span class="icon-globe"></span>
              </div>
              <div>
                <h3 class="mb-3">Website</h3>
                <p><a href="#">yoursite.com</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>